[run]
source = accounts, inventory, dashboard  

[report]
omit =
    */__init__.py
    */migrations/*
    */app_tests/*
    */settings.py
    */wsgi.py
    */asgi.py
    */tests.py
precision = 2
show_missing = False 

[html]
directory = ./coverage_html 
