.container_details {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nagłówki */
.transaction-header {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.transaction-details-title {
    font-size: 1.8rem;
    color: #34495e;
    margin-top: 30px;
}

/* Informacje o transakcji */
.transaction-info {
    font-size: 1.1rem;
    margin: 10px 0;
}

.transaction-info strong {
    color: #2c3e50;
}

/* Produkty */
.products-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.product-item {
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    font-size: 1.1rem;
    color: #333;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Dodanie kursora ręki */
}

.product-item:hover {
    background-color: #dfe6e9;
}

/* Link do powrotu */
.return-link {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.return-link:hover {
    background-color: #2980b9;
}

.return-link:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

/* Responsywność */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .transaction-header {
        font-size: 2rem;
    }

    .transaction-details-title {
        font-size: 1.5rem;
    }

    .transaction-info {
        font-size: 1rem;
    }
}
