{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html>
<head>
    <title>Stan Magazynu</title>
    <link rel="stylesheet" href="{% static 'css/add_product.css' %}">
</head>
<body>
    <div class="container">
        <h1>Dodaj Nowy Produkt</h1>

        <!-- Sekcja komunikatów -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form action="{% url 'add_product' %}" method="post" class="form-card">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Dodaj produkt</button>
        </form>
        <a href="{% url 'stock_status' %}" class="back-link">Powrót do stanu magazynu</a>
    </div>
</body>
</html>
{% endblock content %}
