{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html>
<head>
    <title>Zarządzanie</title>
    <link rel="stylesheet" href="{% static 'css/administration.css' %}">
</head>
<body>
    <div class="container">
        <h1>Zarządzanie</h1>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <h2>Dodaj Dostawcę</h2>
        <form method="post" action="{% url 'administration' %}" class="form">
            {% csrf_token %}
            {{ supplier_form.as_p }}
            <button type="submit" name="add_supplier">Dodaj Dostawcę</button>
        </form>

        <h2>Dodaj Kategorię Towaru</h2>
        <form method="post" action="{% url 'administration' %}" class="form">
            {% csrf_token %}
            {{ category_form.as_p }}
            <button type="submit" name="add_category">Dodaj Kategorię</button>
        </form>

        <h2>Dodaj Jednostkę Miary</h2>
        <form method="post" action="{% url 'administration' %}" class="form">
            {% csrf_token %}
            {{ unit_form.as_p }}
            <button type="submit" name="add_unit">Dodaj Jednostkę Miary</button>
        </form>

        <h2>Dodaj Metodę Płatności</h2>
        <form method="post" action="{% url 'administration' %}" class="form">
            {% csrf_token %}
            {{ payment_method_form.as_p }}
            <button type="submit" name="add_payment_method">Dodaj Metodę Płatności</button>
        </form>
    </div>
</body>
</html>
{% endblock content %}
