{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizualizacja danych</title>
    <link rel="stylesheet" href="{% static 'css/data_visualization.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
</head>
<body>
    <div class="container">
        <h1>Wizualizacja danych</h1>

  
        <section class="form-section">
            <h2>Dostawcy - średnia cena zakupu</h2>
            <form method="post" id="price-chart-form">
                {% csrf_token %}
                <label for="start_date_price">Data początkowa:</label>
                <input type="date" id="start_date_price" name="start_date" required>

                <label for="end_date_price">Data końcowa:</label>
                <input type="date" id="end_date_price" name="end_date" required>

                <button type="submit" class="btn-primary">Generuj wykres</button>
            </form>

            <button id="generate_24h_price" class="btn-secondary">Wygeneruj za okres 24h</button>
            <div id="price-chart-container"></div> 
        </section>


        <section class="form-section">
            <h2>Kategorie - suma cen zakupu</h2>
            <form method="post" id="category-chart-form">
                {% csrf_token %}
                <label for="start_date_category">Data początkowa:</label>
                <input type="date" id="start_date_category" name="start_date" required>

                <label for="end_date_category">Data końcowa:</label>
                <input type="date" id="end_date_category" name="end_date" required>

                <button type="submit" class="btn-primary">Generuj wykres</button>
            </form>

            <button id="generate_24h_category" class="btn-secondary">Wygeneruj za okres 24h</button>
            <div id="category-chart-container"></div>  
        </section>
    </div>

    <script>

function getCSRFToken() {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    return csrfToken;
}


document.getElementById("price-chart-form").addEventListener("submit", function(event) {
    event.preventDefault();

    const formData = new FormData(this);
    fetch("{% url 'download_price_chart' %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': getCSRFToken(), 
        },
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(data.error);
            return;
        }

        const graphJson = JSON.parse(data.graph_json);  
        Plotly.newPlot("price-chart-container", graphJson.data, graphJson.layout); 
    })
    .catch(error => {
        alert("Błąd generowania wykresu: " + error.message);
    });
});


document.getElementById("generate_24h_price").addEventListener("click", function() {
    const currentDate = new Date();
    const startDate = new Date(currentDate.getTime() - 24 * 60 * 60 * 1000); 

    const startDateString = startDate.toISOString().split('T')[0]; 
    const endDateString = currentDate.toISOString().split('T')[0]; 

    const formData = new FormData();
    formData.append("start_date", startDateString);
    formData.append("end_date", endDateString);

    fetch("{% url 'download_price_chart' %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': getCSRFToken(), 
        },
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(data.error);
            return;
        }

        const graphJson = JSON.parse(data.graph_json); 
        Plotly.newPlot("price-chart-container", graphJson.data, graphJson.layout); 
    })
    .catch(error => {
        alert("Błąd generowania wykresu: " + error.message);
    });
});


document.getElementById("category-chart-form").addEventListener("submit", function(event) {
    event.preventDefault();

    const formData = new FormData(this);
    fetch("{% url 'download_purchase_sum_by_category' %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': getCSRFToken(), 
        },
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(data.error);
            return;
        }

        const graphJson = JSON.parse(data.graph_json);  
        Plotly.newPlot("category-chart-container", graphJson.data, graphJson.layout);  
    })
    .catch(error => {
        alert("Błąd generowania wykresu: " + error.message);
    });
});


document.getElementById("generate_24h_category").addEventListener("click", function() {
    const currentDate = new Date();
    const startDate = new Date(currentDate.getTime() - 24 * 60 * 60 * 1000); 

    const startDateString = startDate.toISOString().split('T')[0]; 
    const endDateString = currentDate.toISOString().split('T')[0]; 

    const formData = new FormData();
    formData.append("start_date", startDateString);
    formData.append("end_date", endDateString);

    fetch("{% url 'download_purchase_sum_by_category' %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': getCSRFToken(), 
        },
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            alert(data.error);
            return;
        }

        const graphJson = JSON.parse(data.graph_json); 
        Plotly.newPlot("category-chart-container", graphJson.data, graphJson.layout); 
    })
    .catch(error => {
        alert("Błąd generowania wykresu: " + error.message);
    });
});

    </script>
</body>
</html>
{% endblock %}
