{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html>
<head>
    <title>Wyszukaj i Usuń Produkt</title>
    <link rel="stylesheet" href="{% static 'css/delete_product.css' %}">
</head>
<body>
    <div class="container">
        <h1>Wyszukaj Produkt do Usunięcia</h1>

        <!-- Sekcja komunikatów -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Formularz wyszukiwania produktu -->
        <form action="" method="post" class="form-card">
            {% csrf_token %}
            <input type="text" name="product_id" placeholder="ID produktu" required>
            <button type="submit" name="search" class="search-btn">Wyszukaj</button>
        </form>

        <!-- Jeśli produkt został znaleziony, wyświetl jego szczegóły -->
        {% if product %}
            <h2>Znaleziony Produkt</h2>
            <p><strong>ID:</strong> {{ product.id }}</p>
            <p><strong>Nazwa:</strong> {{ product.name }}</p>
            <p><strong>Kategoria:</strong> {{ product.category }}</p>
            <p><strong>Ilość:</strong> {{ product.quantity }} </p>
            <p><strong>Jednostka:</strong> {{ product.unit }} </p>
            <p><strong>Min. na stanie:</strong> {{ product.reorder_level }} </p>
            <p><strong>	Data ważności:</strong> {{ product.expiration_date }}</p>
            <p><strong>	Cena zakupu:</strong> {{ product.purchase_price }}</p>
            <p><strong>	Dostawca:</strong> {{ product.supplier }}</p>
            <p><strong>Ostatnia data uzupełnienia:</strong> {{ product.last_restock_date }}</p>

            <!-- Formularz do usunięcia produktu -->
            <form action="" method="post">
                {% csrf_token %}
                <!-- Ukryte pole z ID produktu -->
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <button type="submit" name="delete" class="confirm-btn">Usuń Produkt</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
{% endblock content %}
