<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <title>Inventory Items</title>
</head>
<body>
    <!-- Other HTML content -->

    <form action="{% url 'add_purchase' %}" method="get" style="display:inline;">
        <button type="submit">Add Purchase</button>
    </form>

    <form action="{% url 'add_consumption' %}" method="get" style="display:inline;">
        <button type="submit">Add Consumption</button>
    </form>

    <!-- Other HTML content -->

</body>
</html>
{% endblock content %}