{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block content %}
<html>
<head>
    <title>Lista Dostawców</title>
    <link rel="stylesheet" href="{% static 'css/supplier_list.css' %}">
</head>
<body>
    <h1>Lista Dostawców</h1>


    <form method="GET" action="{% url 'supplier_list' %}">
        <div class="filter-container">
            <h2>Filtr</h2>
            <div>
                <label for="name">Nazwa:</label>
                <input type="text" id="name" name="name" class="input-field" placeholder="Wprowadź nazwę" value="{{ request.GET.name }}">
            </div>
        </div>

        <button type="submit">Filtruj</button>
        <button type="button" onclick="clearFilters()">Usuń filtry</button>
    </form>

    <script>
        function clearFilters() {

            document.getElementById('name').value = '';

            window.location.href = "{% url 'supplier_list' %}";
        }
    </script>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Adres</th>
                <th>Telefon</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.id }}</td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.address }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td>{{ supplier.email }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="current">
            Strona {{ suppliers.number }} z {{ suppliers.paginator.num_pages }}
        </span>
    </div>
    <div class="step-links">
        {% if suppliers.has_previous %}
            <a href="?page=1">&laquo; pierwsza</a>
            <a href="?page={{ suppliers.previous_page_number }}">poprzednia</a>
        {% endif %}

        {% if suppliers.has_next %}
            <a href="?page={{ suppliers.next_page_number }}">następna</a>
            <a href="?page={{ suppliers.paginator.num_pages }}">ostatnia &raquo;</a>
        {% endif %}
    </div>

</body>
</html>
{% endblock content %}
