{% extends 'base.html' %}
{% block content %}


<h4>Przychody</h4>
<div class="container">
{% for przychod in przychody %}
    <div class="card mt-2" style="background-color: rgb(177, 224, 255);">
        <div class="card-body">
            <h5 class="card-title">{{ przychod.dzien }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ przychod.stan_kasy }}</h6>
            <p class="card-text">terminal: {{ przychod.terminal }}</p>
            <p class="card-text">gotówka: {{ przychod.gotowka }}</p>
            <p class="card-text">uwagi: {{ przychod.uwagi }}</p>

        </div>
    </div>
{% endfor %}
</div>
{% if not przychody %}
    <p>Brak przychodów</p>
{% endif %}

{% endblock content%}