{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block content %}
<html>
<head>
    <title>Table</title>
 <link rel="stylesheet" href="{% static 'css/item_list.css' %}"> 
</head>
<body>
    <h1>Stolik [numer]</h1>



<form method="GET" action="{% url 'stock_status' %}"> 
  <div class="filter-container">

    <div>
        <label for="category">Kategoria:</label>
        <select id="category" name="category" class="input-field">
            <option value="">-- Wybierz kategorię --</option>
             <!-- {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}  -->
        </select>
    </div> 

    <div>
        <label for="productName">Produkt:</label>
        <select id="productName" name="productName" class="input-field">
            <option value="">-- Wybierz produkt --</option>
             <!-- {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}  -->
        </select>
    </div> 
    
    <div>
        <label for="quantity">Ilosc:</label>
        <input type="text" id="quantity" name="quantity" class="input-field" placeholder="Wprowadź ilość" value="{{ request.GET.name }}">
    </div>


    <form method="post" action="{% url 'administration' %}" class="form">
        {% csrf_token %}
        {{ category_form.as_p }}
        <button type="submit" name="add_unit">Dodaj</button>
    </form>
    

</form>




{% endblock content %}