{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Dodaj Zamówienie - Stolik {{ table.table_number }}</h1>

    <!-- Wybór kategorii -->
    <form method="POST" class="mb-3">
        {% csrf_token %}
        <h2>Wybierz Kategorię:</h2>
        <div class="form-group">
            <label for="category">Wybierz kategorię:</label>
            <select id="category" name="category" class="form-control" required {% if order_created %}disabled{% endif %}>
                <option value="">Wybierz kategorię</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category == selected_category %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3" {% if order_created %}disabled{% endif %}>Pokaż Produkty</button>
    </form>

    {% if selected_category %}
    <!-- Wybór produktu -->
    <form method="POST" class="mt-3" {% if order_created %}disabled{% endif %}>
        {% csrf_token %}
        <h2>Wybierz Produkt:</h2>
        <div class="form-group">
            <label for="inventory_item">Wybierz produkt:</label>
            <select id="inventory_item" name="inventory_item" class="form-control" required {% if order_created %}disabled{% endif %}>
                <option value="">Wybierz produkt</option>
                {% for item in inventory_items %}
                    <option value="{{ item.id }}">
                        {{ item.name }} - {{ item.quantity }} {{ item.unit }} ({{ item.purchase_price }} PLN)
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="quantity">Wybierz ilość:</label>
            <input type="number" id="quantity" name="quantity" class="form-control" min="1" required {% if order_created %}disabled{% endif %}>
        </div>

        <button type="submit" class="btn btn-success mt-3" {% if order_created %}disabled{% endif %}>Dodaj do zamówienia</button>
    </form>
    {% endif %}

    <!-- Produkty w zamówieniu -->
    <h2 class="my-4">Produkty w zamówieniu:</h2>
    {% if cached_items %}
    <ul class="list-group">
        {% for item in cached_items %}
        <li class="list-group-item">
            <form method="POST" class="form-inline">
                {% csrf_token %}
                {% if item.edit_mode %}
                    <div class="form-group mr-2">
                        <label for="new_quantity_{{ item.product.id }}">Nowa ilość:</label>
                        <input type="number" id="new_quantity_{{ item.product.id }}" name="new_quantity" class="form-control ml-2" value="{{ item.quantity }}" min="1" required>
                    </div>
                    <button type="submit" name="save_item" value="{{ item.product.id }}" class="btn btn-success btn-sm">Zapisz</button>
                {% else %}
                    {{ item.product.name }} - {{ item.quantity }} sztuk - {{ item.total_price }} PLN
                    <button type="submit" name="edit_item" value="{{ item.product.id }}" class="btn btn-warning btn-sm float-right">Edytuj</button>
                    <button type="submit" name="remove_item" value="{{ item.product.id }}" class="btn btn-danger btn-sm float-right mr-2">Usuń</button>
                {% endif %}
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Brak produktów w zamówieniu.</p>
    {% endif %}

    <h3 class="mt-4">Łączna cena: {{ total_price }} PLN</h3>



    <!-- Utworzenie zamówienia -->
    {% if not order_created %}
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <button type="submit" name="create_order" class="btn btn-primary">Utwórz Zamówienie</button>
    </form>
    {% else %}
    <div class="alert alert-success mt-4">
        <h3>Zamówienie zostało utworzone!</h3>
        <p>Numer Zamówienia: {{ order_number }}</p>

    <!-- Dodanie przycisku edycji zamówienia -->
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <button type="submit" name="edit_order" class="btn btn-warning">Edytuj Zamówienie</button>
    </form>

    </div>
    {% endif %}
</div>
{% endblock %}
