{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizualizacja danych</title>
    <link rel="stylesheet" href="{% static 'css/data_visualization.css' %}">
</head>
<body>
    <div class="container">
        <h1>Wizualizacja danych</h1>

        <section class="form-section">
            <h2>Średnia kwota transakcji per stolik</h2>
            <form method="post" action="{% url 'download_average_transaction_per_table' %}">
                {% csrf_token %}
                <label for="start_date">Data początkowa:</label>
                <input type="date" id="start_date" name="start_date" required>
                <label for="end_date">Data końcowa:</label>
                <input type="date" id="end_date" name="end_date" required>
                <button type="submit" class="btn-secondary">Pobierz wykres</button>
            </form>
        </section>

        <section class="form-section">
            <h2>Średnia kwota transakcji per metoda płatności</h2>
            <form method="post" action="{% url 'download_average_transaction_per_payment_method' %}">
                {% csrf_token %}
                <label for="start_date">Data początkowa:</label>
                <input type="date" id="start_date" name="start_date" required>
                <label for="end_date">Data końcowa:</label>
                <input type="date" id="end_date" name="end_date" required>
                <button type="submit" class="btn-secondary">Pobierz wykres</button>
            </form>
        </section>

        <section class="form-section">
            <h2>Suma kwoty transakcji per stolik</h2>
            <form method="post" action="{% url 'download_total_transaction_per_table' %}">
                {% csrf_token %}
                <label for="start_date">Data początkowa:</label>
                <input type="date" id="start_date" name="start_date" required>
                <label for="end_date">Data końcowa:</label>
                <input type="date" id="end_date" name="end_date" required>
                <button type="submit" class="btn-secondary">Pobierz wykres</button>
            </form>
        </section>

        <section class="form-section">
            <h2>Suma kwoty transakcji per metoda płatności</h2>
            <form method="post" action="{% url 'download_total_transaction_per_payment_method' %}">
                {% csrf_token %}
                <label for="start_date">Data początkowa:</label>
                <input type="date" id="start_date" name="start_date" required>
                <label for="end_date">Data końcowa:</label>
                <input type="date" id="end_date" name="end_date" required>
                <button type="submit" class="btn-secondary">Pobierz wykres</button>
            </form>
        </section>
    </div>
</body>
</html>
{% endblock content %}
