{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edycja zamówienia</title>
    <link rel="stylesheet" href="{% static 'css/edit_order.csss' %}">
</head>


<div class="container mt-5">
    <h1 class="text-center mb-4">Edycja zamówienia - stolik {{ table.table_number }}</h1>

    {% if error_messages %}
    <div class="alert alert-danger">
        <ul>
            {% for error in error_messages %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <h2 class="my-4">Produkty w zamówieniu:</h2>
    <form method="POST" class="mb-4">
        {% csrf_token %}
        <ul class="list-group">
            {% for item in order_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ item.product.name }}</span> - 
                <form method="POST" class="d-inline">
                    {% csrf_token %}
                    <div class="d-flex align-items-center">
                        <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="1" required class="form-control w-auto mr-2" style="max-width: 100px;">
                        <button type="submit" class="btn btn-primary btn-sm">Zapisz</button>
                    </div>
                    <span class="text-muted ml-3">Dostępne w magazynie: {{ item.product.quantity }} {{ item.product.unit }}</span>
                    <input type="hidden" name="edit_item_id" value="{{ item.id }}">
                </form>
            </li>
            {% endfor %}
        </ul>
    </form>

    <h2 class="mt-5">Usuń produkt</h2>
    <form method="POST" class="mb-4">
        {% csrf_token %}
        <ul class="list-group">
            {% for item in order_items %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ item.product.name }} - {{ item.quantity }} sztuk - {{ item.total_price }} PLN</span>
                <button type="submit" name="remove_item" value="{{ item.id }}" class="btn btn-danger btn-sm">Usuń</button>
            </li>
            {% endfor %}
        </ul>
    </form>

    <h3 class="cost">Łączna cena: <strong>{{ total_price }} PLN</strong></h3>

    <div class="cost">
        {% if order_items %}
        <a href="{% url 'add_order' table_id=table.id order_id=order_id %}" class="btn btn-secondary btn-lg">Powrót do zamówienia</a>
        {% else %}
        <a href="{% url 'add_order' table_id=table.id %}" class="btn btn-secondary btn-lg">Powrót do zamówienia</a>
        {% endif %}
    </div>
</div>
</body>
</html>
{% endblock %}

