{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Edytuj Zamówienie - Stolik {{ table.table_number }}</h1>

    {% if error_messages %}
    <div class="alert alert-danger">
        <ul>
            {% for error in error_messages %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

    <h2>Produkty w zamówieniu:</h2>
    <form method="POST" class="mb-3">
        {% csrf_token %}
        <ul class="list-group">
            {% for item in order_items %}
            <li class="list-group-item">
                {{ item.product.name }} -
                <form method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}" min="1" required> sztuk
                    <button type="submit" class="btn btn-primary btn-sm ml-2">Zapisz</button>
                    <input type="hidden" name="edit_item_id" value="{{ item.id }}">
                </form>
                
            </li>
            {% endfor %}
        </ul>
    </form>

    

    <h2 class="mt-4">Usuń Produkt</h2>
    <form method="POST">
        {% csrf_token %}
        <ul class="list-group">
            {% for item in order_items %}
            <li class="list-group-item">
                {{ item.product.name }} - {{ item.quantity }} sztuk - {{ item.total_price }} PLN

                <button type="submit" name="remove_item" value="{{ item.id }}" class="btn btn-danger btn-sm float-right ml-2">Usuń</button>
            </li>
            {% endfor %}
        </ul>
    </form>
    <h3 class="mt-4">Łączna cena: {{ total_price }} PLN</h3>

    {% if order_items %}
        <a href="{% url 'add_order' table_id=table.id order_id=order_id %}" class="btn btn-secondary mt-4">Powrót do zamówienia</a>
    {% else %}
        <a href="{% url 'add_order' table_id=table.id %}" class="btn btn-secondary mt-4">Powrót do zamówienia</a>
    {% endif %}
</div>
{% endblock %}
