{% extends 'base.html' %}
{% load static %}
<head>
    <title>Rezerwacja Stolika</title>
</head>
{% block content %}
<div class="container">
    <h1>Rezerwacja Stolika {{ table.table_number }}</h1>
    <div class="dashboard" id="dashboard">
        <div class="table" id="table-{{ table.id }}">
            <p>Stolik {{ table.table_number }}</p>

            {% if table.is_reserved %}
                <p>Rezerwacja: {{ table.reservation_date|date:"d-m-Y H:i" }}</p>
                <a href="{% url 'cancel_reservation' table.id %}" class="btn btn-danger">Anuluj Rezerwację</a>
            {% else %}
                <form method="POST" action="{% url 'reserve_table' table.id %}">
                    {% csrf_token %}
                    {% if show_date_form %}
                        <!-- Formularz do wprowadzenia daty rezerwacji -->
                        <label for="reservation_date">Data rezerwacji:</label>
                        <input type="datetime-local" id="reservation_date" name="reservation_date" min="{{ current_datetime }}">
                        <button type="submit" name="reserve" class="btn btn-primary">Zarezerwuj</button>
                    {% else %}
                        <!-- Przycisk, który po kliknięciu pokazuje formularz -->
                        <button type="submit" name="show_form" class="btn btn-primary">Zarezerwuj</button>
                    {% endif %}
                </form>

                <!-- Wyświetlanie komunikatów o błędach -->
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
